*{
box-sizing:border-box;
margin:0;
padding:0;
}

/* фон страницы */

#leftViz, #rightViz {
  pointer-events: none; /* чтобы не мешали кликам */
}

#bgVideo{
position:fixed;
top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

z-index:-3;

filter:brightness(0.9) contrast(1.2);
}

#videoOverlay{
position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:linear-gradient(
to bottom,
rgba(0,0,0,0.45),
rgba(0,0,0,0.65)
);

z-index:-2;
pointer-events:none;
}

body{

background:#050505;
color:#e8e8e8;

font-family:'Cormorant',serif;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

text-align:center;

overflow:hidden;

}

/* шум */

/* туман */

@keyframes fog{

0%{transform:translateX(0)}
100%{transform:translateX(-50%)}

}

/* контейнер */

#container{

position:relative;
z-index:2;

max-width:700px;
padding:40px;

}

/* текст */

#text{

font-family:"Cormorant Garamond", serif;

font-size:34px;
font-weight:300;

line-height:1.9;

letter-spacing:0.04em;

max-width:640px;
margin:auto;

opacity:0;
transform:translateY(20px);

transition:2s ease;

color:#f2f2f2;

text-shadow:
0 0 8px rgba(120,0,0,0.35),
0 0 30px rgba(120,0,0,0.15);

}

#text::first-line{

font-style:italic;
font-size:1.15em;
color:#ffffff;

}

#text.show{

opacity:1;
transform:translateY(0);

animation:textBreath 8s ease-in-out infinite;

}

@keyframes textBreath{

0%{opacity:0.92}
50%{opacity:1}
100%{opacity:0.92}

}

.cursor{
display:inline-block;
margin-left:3px;

color:#9b0000;

animation:blink 1.1s infinite;
}

@keyframes blink{

0%{opacity:1}
50%{opacity:0}
100%{opacity:1}

}

body::after{

content:"";

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

background:radial-gradient(
ellipse at center,
rgba(0,0,0,0) 40%,
rgba(0,0,0,0.35) 80%
);

z-index:0;

}

/* кнопки */

button{

font-family:"Cormorant Garamond",serif;

background:rgba(0,0,0,0.35);

border:1px solid rgba(155,0,0,0.6);

color:#f0f0f0;

padding:14px 36px;

margin-top:45px;

font-size:20px;

letter-spacing:0.12em;

cursor:pointer;

transition:0.5s;

backdrop-filter:blur(4px);

}

button:hover{

background:rgba(120,0,0,0.5);

border-color:#a30000;

box-shadow:
0 0 12px rgba(120,0,0,0.7),
0 0 40px rgba(120,0,0,0.3);

transform:translateY(-2px);

}

/* анимация кнопки */

#next{

animation:pulse 3s infinite;

}

@keyframes pulse{

0%{opacity:0.6}
50%{opacity:1}
100%{opacity:0.6}

}

/* выбор */

#choice{

display:none;

margin-top:50px;

opacity:0;

transition:2s;

}

#choice button{

margin:15px;

font-size:20px;

padding:16px 40px;

}

#choice button:first-child{

border-color:#9b0000;

}

/* адаптация */

@media (max-width:768px){

#text{
font-size:24px;
}

button{
font-size:16px;
padding:12px 24px;
}

}